body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #488B42;
  min-height: 100%;
  height: 100%;
}
body nav {
  background-color: #59D64E;
  display: flex;
  min-height: 8vh;
  border-bottom: 5px solid #366831;
}
body nav a {
  color: black;
}
body nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 35px;
  justify-content: space-evenly;
  align-items: center;
}
body header {
  display: flex;
  width: 100%;
  height: 7vh;
  justify-content: center;
}
body header h1 {
  color: white;
  font-size: 35px;
}
body main {
  display: flex;
  height: 72vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
body .homepage_main {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
}
body .homepage_main .homepage_main_articles {
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding-left: 15rem;
  height: 76.5vh;
  gap: 1rem;
  justify-content: space-evenly;
}
body .homepage_main .homepage_main_articles .homepage_articles {
  background-color: #7BA766;
  border-radius: 25px;
  padding: 2rem;
}
body .homepage_main .homepage_links {
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding-right: 15rem;
  align-items: flex-end;
  height: 76.5vh;
}
body .homepage_main .homepage_links .homepage_img {
  width: 50%;
  border-radius: 25px;
  border: 5px solid white;
}
body .homepage_main .homepage_links ul {
  background-color: #7BA766;
  border-radius: 25px;
  font-size: 25px;
  padding: 2rem;
  list-style-type: none;
}
body .skills_main {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-evenly;
}
body .skills_main section {
  background-color: #7BA766;
  width: 40%;
  border-radius: 25px;
  height: 45%;
}
body .skills_main section h3 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: white;
  text-decoration: underline;
  font-size: 25px;
}
body .skills_main section ul {
  font-size: 20px;
}
body .skills_main section ul li {
  line-height: 2rem;
}
body .school_main {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: space-evenly;
}
body .school_main .school_work {
  background-color: #7BA766;
  width: 40vw;
  line-height: 2rem;
  border-radius: 25px;
}
body .school_main .school_work h2 {
  display: flex;
  justify-content: space-evenly;
  color: white;
  text-decoration: underline;
  font-size: 25px;
}
body .school_main .school_work h3 {
  font-weight: bold;
  margin-left: 4rem;
}
body .school_main .school_work p {
  font-size: 20px;
  margin-left: 4rem;
}
body .school_main .school_work ul {
  margin-left: 4rem;
}
body .school_main .school_work ul li {
  font-size: 20px;
}
body .school_main .school_diplomas {
  background-color: #7BA766;
  width: 40vw;
  height: 72vh;
  border-radius: 25px;
}
body .school_main .school_diplomas h2 {
  display: flex;
  color: white;
  text-decoration: underline;
  justify-content: space-evenly;
  font-size: 25px;
}
body .school_main .school_diplomas h3 {
  font-weight: bold;
  margin-left: 4rem;
}
body .school_main .school_diplomas p {
  font-size: 20px;
  margin-left: 4rem;
}
body .school_main .school_diplomas ul {
  margin-left: 4rem;
}
body .school_main .school_diplomas ul li {
  font-size: 20px;
}
body .school_main .school_diplomas img {
  margin-top: 2.5rem;
  object-fit: contain;
  border-radius: 25px;
  margin-left: 14vw;
  height: 36vh;
  border: 5px solid white;
}
body .project_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 25px;
}
body .project_main .project_container {
  width: 100vw;
  height: 30%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
}
body .project_main .project_container .project_text {
  border-radius: 25px;
  margin-left: 2rem;
  width: 50%;
  background-color: #7BA766;
}
body .project_main .project_container .project_text h3 {
  display: flex;
  color: white;
  text-decoration: underline;
  justify-content: space-evenly;
  font-size: 25px;
}
body .project_main .project_container .project_text p {
  margin: 2rem;
}
body .project_main .project_container img {
  margin-left: 10rem;
  border-radius: 15px;
  border: 5px solid white;
}
body .contact_main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 25px;
}
body .contact_main .contact_side {
  background-color: #7BA766;
  width: 35vw;
  line-height: 2rem;
  border-radius: 25px;
}
body .contact_main .contact_side h2 {
  display: flex;
  color: white;
  text-decoration: underline;
  justify-content: space-evenly;
  font-size: 30px;
}
body footer {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5vh;
  background-color: #133D12;
  border-top: 5px solid #366831;
  color: white;
  justify-content: space-evenly;
  align-items: center;
}
body footer p {
  display: flex;
  width: 30%;
  padding-left: 5rem;
  font-size: 18px;
  margin: 0;
}
body footer ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
  width: 100%;
  font-size: 25px;
  margin: 0;
}
body footer ul li a {
  color: white;
}

/*# sourceMappingURL=stylesheet.css.map */
