body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #488B42;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* Homepage Main Section */
  /* Skills, School, Project Sections */
  /* Media Queries for Tablet Landscape and Portrait Modes */
  /* Footer */
}
body nav {
  background-color: #59D64E;
  display: flex;
  min-height: 8vh;
  border-bottom: 5px solid #366831;
}
body nav a {
  color: black;
  text-decoration: none;
}
body nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 35px;
  justify-content: space-evenly;
  align-items: center;
}
body header {
  display: flex;
  width: 100%;
  height: 7vh;
  justify-content: center;
  margin-top: 2vh; /* Adjusted margin to create space above header */
}
body header h1 {
  color: white;
  font-size: 35px;
}
body .homepage_main {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
  margin-top: 8vh; /* Adjusted margin to create space below header */
}
body .homepage_main .homepage_main_articles {
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding-left: 15rem; /* Adjust as needed */
  height: auto; /* Adjusted for responsiveness */
  gap: 1rem;
  justify-content: space-evenly;
}
body .homepage_main .homepage_main_articles .homepage_articles {
  background-color: #7BA766;
  border-radius: 25px;
  padding: 2rem;
}
body .homepage_main .homepage_links {
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding-right: 15rem; /* Adjust as needed */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  text-align: center; /* Center text horizontally */
}
body .homepage_main .homepage_links .homepage_img {
  width: 50%; /* Adjusted width for the image */
  max-width: 100%; /* Ensures image does not exceed its container */
  height: auto; /* Ensures image maintains its aspect ratio */
  margin-top: 1rem; /* Adjust margin for spacing */
  border-radius: 25px;
  border: 5px solid white;
}
body .homepage_main .homepage_links ul {
  background-color: #7BA766;
  border-radius: 25px;
  font-size: 25px;
  padding: 2rem;
  list-style-type: none;
}
body .skills_main, body .school_main, body .project_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem; /* Added padding for spacing */
}
body .skills_main section, body .skills_main .school_work, body .skills_main .school_diplomas, body .skills_main .project_container, body .skills_main .contact_side, body .school_main section, body .school_main .school_work, body .school_main .school_diplomas, body .school_main .project_container, body .school_main .contact_side, body .project_main section, body .project_main .school_work, body .project_main .school_diplomas, body .project_main .project_container, body .project_main .contact_side {
  background-color: #7BA766;
  border-radius: 25px;
  margin-bottom: 2rem; /* Adjusted margin for spacing */
  padding: 1.5rem; /* Adjusted padding for spacing */
  width: 40%; /* Adjusted width for tablet portrait mode */
}
body .skills_main h2, body .skills_main h3, body .school_main h2, body .school_main h3, body .project_main h2, body .project_main h3 {
  display: flex;
  justify-content: space-evenly;
  color: white;
  text-decoration: underline;
  font-size: 25px;
}
body .skills_main ul, body .school_main ul, body .project_main ul {
  font-size: 20px;
  padding: 1rem;
}
body .skills_main ul li, body .school_main ul li, body .project_main ul li {
  line-height: 2rem;
}
body .skills_main p, body .skills_main img, body .school_main p, body .school_main img, body .project_main p, body .project_main img {
  margin: 1rem;
}
body .skills_main img, body .school_main img, body .project_main img {
  max-width: 100%; /* Ensures image fits container */
  height: auto;
  border-radius: 15px;
  border: 5px solid white;
}
@media (max-width: 1024px) {
  body .homepage_main .homepage_main_articles, body .homepage_main .homepage_links {
    width: 90%; /* Adjusted width for tablet landscape mode */
    padding-left: 0;
    padding-right: 0;
  }
  body .homepage_main .homepage_main_articles .homepage_articles {
    width: 80%; /* Adjusted width for articles in homepage_main */
    padding: 1.5rem; /* Adjusted padding for articles */
  }
  body .homepage_main .homepage_links .homepage_img {
    width: 80%; /* Adjusted width for image in homepage_links */
  }
  body .skills_main section, body .skills_main .school_work, body .skills_main .school_diplomas, body .skills_main .project_container, body .skills_main .contact_side, body .school_main section, body .school_main .school_work, body .school_main .school_diplomas, body .school_main .project_container, body .school_main .contact_side, body .project_main section, body .project_main .school_work, body .project_main .school_diplomas, body .project_main .project_container, body .project_main .contact_side, body .contact_main section, body .contact_main .school_work, body .contact_main .school_diplomas, body .contact_main .project_container, body .contact_main .contact_side {
    width: 90%; /* Adjusted width for tablet landscape mode */
  }
}
@media (max-width: 768px) {
  body .homepage_main {
    flex-direction: column; /* Adjusted to stack elements in homepage_main */
    align-items: center;
    font-size: 20px;
  }
  body .homepage_main .homepage_main_articles, body .homepage_main .homepage_links {
    width: 95%; /* Adjusted width for tablet portrait mode */
  }
  body .homepage_main .homepage_main_articles .homepage_articles, body .homepage_main .homepage_links ul {
    width: 100%; /* Adjusted width for articles and ul in homepage_main */
    padding: 1rem; /* Adjusted padding for articles and ul */
  }
  body .skills_main section, body .skills_main .school_work, body .skills_main .school_diplomas, body .skills_main .project_container, body .skills_main .contact_side, body .school_main section, body .school_main .school_work, body .school_main .school_diplomas, body .school_main .project_container, body .school_main .contact_side, body .project_main section, body .project_main .school_work, body .project_main .school_diplomas, body .project_main .project_container, body .project_main .contact_side, body .contact_main section, body .contact_main .school_work, body .contact_main .school_diplomas, body .contact_main .project_container, body .contact_main .contact_side {
    width: 90%; /* Adjusted width for tablet portrait mode */
  }
}
body .contact_main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 25px;
}
body .contact_main .contact_side {
  background-color: #7BA766;
  width: 35vw;
  line-height: 2rem;
  border-radius: 25px;
}
body .contact_main .contact_side h2 {
  display: flex;
  color: white;
  text-decoration: underline;
  justify-content: space-evenly;
  font-size: 30px;
}
body .school_work,
body .school_diplomas {
  background-color: #7BA766;
  border-radius: 25px;
  margin-bottom: 2rem; /* Adjusted margin for spacing */
  padding: 1.5rem; /* Adjusted padding for spacing */
  width: 40%; /* Adjusted width for tablet portrait mode */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text horizontally */
}
body .school_work img,
body .school_diplomas img {
  max-width: 50%; /* Ensures image fits container */
  height: auto; /* Ensures image maintains its aspect ratio */
  border-radius: 15px;
  border: 5px solid white;
  margin-top: 1rem; /* Adjust margin for spacing */
}
body .project_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #7BA766;
  border-radius: 25px;
  margin-bottom: 2rem; /* Adjusted margin for spacing */
  padding: 1.5rem; /* Adjusted padding for spacing */
  width: 40%; /* Adjusted width for tablet portrait mode */
}
body .project_container img {
  max-width: 80%; /* Reduce the maximum width of images */
  height: auto; /* Ensure images maintain their aspect ratio */
  border-radius: 15px;
  border: 5px solid white;
  margin-top: 1rem; /* Adjust margin for spacing */
}
body footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 5vh;
  width: 100vw;
  color: white;
  background-color: #133D12;
  border-top: 5px solid #366831;
  margin-top: auto; /* Pushes footer to the bottom */
}
body footer p {
  font-size: 18px;
}
body footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  list-style-type: none;
  font-size: 25px;
  margin: 0;
}
body footer ul li a {
  color: white;
}

/*# sourceMappingURL=stylesheet.css.map */
